<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBx_RRNu3snXj7iXTsBNSXbyYugtd8tBM8</string>
	<key>GCM_SENDER_ID</key>
	<string>778746834871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vooed.blynk</string>
	<key>PROJECT_ID</key>
	<string>blynk-80b4a</string>
	<key>STORAGE_BUCKET</key>
	<string>blynk-80b4a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778746834871:ios:50d97f74548315ff994232</string>
</dict>
</plist>